/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* BACKGROUND */

body {
	background: url('https://i.ibb.co/bggz0Gtb/Grump-Gif-ezgif-com-resize.gif') center center fixed;
	background-size: 100%;
	font-family: "Caveat", cursive !important;
	color: #FFFFFF
        
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: linear-gradient(0deg,rgba(5, 20, 26, 0.75) 0%, rgba(5, 20, 26, 0.75) 20%, rgba(10, 40, 48, 0.75) 40%, rgba(80, 67, 93, 0.75) 60%, rgba(144, 75, 107, 0.75) 80%, rgba(204, 107, 142, 0.75) 100%);
	border: 0 ridge !important;
	box-shadow: none;
	border-radius: 10px !important;
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: #AB93C9;
	border: 0 ridge !important;
	border-top: none;
	color: #XXXXXX;
	border-radius: 10px !important;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: #CA90BD;
	border-bottom: none;
	color: #XXXXXX;
    font-family: "Caveat", cursive !important;
	border-radius: 10px !important;
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #XXXXXX !important;
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(XXXXXX) !important;
	border-bottom: none;
	color: #XXXXXX !important;
    font-family: "Caveat", cursive !important;
	border-radius: 10px !important;
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: #E29AAD  !important;
        border: 0 ridge !important;
	border-radius: 10px !important;
    font-family: "Caveat", cursive !important;
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #XXXXXX
    font-family: "Caveat", cursive !important;    
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "Template by Katie (#106445)";
        color: #XXXXXX;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: #AB93C9 !important;
        border: 0 ridge !important;
	border-radius: 10px !important;
	color: #XXXXXX !important;
    font-family: "Caveat", cursive !important;
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: #AB93C9;
        border: 0 ridge !important;
	border-radius: 10px !important;
        text-shadow: none !important;
	color: #XXXXXX !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: #F4A8A4 !important;
	border: 0 ridge !important;
	color: #XXXXXX;
	border-radius: 10px !important;
    font-family: "Caveat", cursive !important;
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #FFFFFF;
    text-shadow: 1px 0px 8px rgba(XXXXXX);
	font-size: 40px;
	text-align: center;
    font-family: "Caveat", cursive !important;
}


/* MEDIUM HEADER */

h2 {
	color: #XXXXXX;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #XXXXXX !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #FFFFFF !important;
        font-size: 26px !important;
        font-family: "Caveat", cursive !important;
}


/* RIGHT SIDE PANELS */
.panel {
	background: linear-gradient(0deg,rgba(255, 190, 163, 1) 0%, rgba(244, 168, 164, 1) 25%, rgba(226, 154, 173, 1) 50%, rgba(202, 144, 189, 1) 75%, rgba(171, 147, 201, 1) 100%) !important;
	box-shadow: none !important;
	border: 0 ridge !important;
	color: #FFFFFF !important;
	border-radius: 10px !important;
}
/* ENERGY BAR BACKGROUND */
.progress {
	background: #D13F00;
	color: #XXXXXX !important;
	border-radius: 10px !important;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: #FF6D2E;
	color: #471500 !important;
	border-radius: 10px !important;
}

/* ENERGY BAR TEXT */
.progress div {
	color: #XXXXXX !important;
    font-family: "Caveat", cursive !important;
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: #E29AAD !important;
        color: #FFFFFF !important;
	border: 0 ridge !important;
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: #F4A8A4 !important;
        color: #FFFFFF !important;
	border: 0 ridge !important;
}

.s-chat-message__pinned /* Pinned Message */ {
	background: #CA90BD  !important;
        color: #FFFFFF !important;
	border: 0 ridge !important;
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #FFBEA3 !important;
}

div#chatMessageContainer {
	border: 0 ridge !important;
	border-radius: 10px !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: #AB93C9 !important;
        color: #FFFFFF !important;
	border: 0 ridge !important;
}

    /* Comment Box Header by Hok-Z#41458 / #170947 */
#commentBox::before {
content: "Rawrs Go here!!";
background: #AB93C9;
color: white;
    font-size: 25px;
display: block;
width: 96.6%;
height: 40px;
position: absolute;
margin-top: -42px;
padding-top: 6px;
border: 0 ridge !important;
border-radius: 10px !important;
}

/*-------------------------*/
/*Comment Box by Hok-Z #41458 / #170947*/
/*-------------------------*/
#commentBox {
background: linear-gradient(0deg,rgba(5, 20, 26, 0.6) 0%, rgba(5, 20, 26, 0.6) 20%, rgba(10, 40, 48, 0.6) 40%, rgba(80, 67, 93, 0.6) 60%, rgba(144, 75, 107, 0.6) 80%, rgba(204, 107, 142, 0.6) 100%);
border: 2px #XXXXXX !important;
height: 280px !important;
margin-top: 40px;
overflow: auto !important;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
}

.comment {
background: #CA90BD  !important;
border-bottom: 1px #XXXXXX;
font-weight: bold;
color: #40212F;
    font-family: "Caveat", cursive !important;
}

.comment a {color: #XXXXXX;}

.comment .text-muted {color: #XXXXXX;}

#makeComment {
background: #E29AAD !important;
border: 2px #XXXXXX;
border-radius: 10px;
}

#comment {
background: #F4A8A4  !important;
color: #XXXXXX !important;
    font-family: "Caveat", cursive !important;
}

input[type="button"].bad {
background: #XXXXXX !important;
}

input#postComment {
background: #FFBEA3 !important;
color: black;
    font-family: "Caveat", cursive !important;
}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: linear-gradient(0deg,rgba(244, 168, 164, 0.6) 0%, rgba(255, 190, 163, 0.6) 100%);
	border: 0 ridge !important;
	border-collapse: separate;
	border-radius: 10px !important;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: #FFAD8A !important;
	color: #XXXXXX !important;
    font-family: "Caveat", cursive !important;
	border-radius: 10px !important;
    font-size: 15px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: #F7C2BF !important;
        color: #40212F;
    font-family: "Caveat", cursive !important;
	border-radius: 10px !important;
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: #FFCBB5 !important;
	border-radius: 10px !important;
    font-family: "Caveat", cursive !important;
}

td.right {
	border-radius: 10px !important;
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: #FFBEA3 !important;
	border: 0 ridge !important;
	border-radius: 10px !important;
    font-family: "Caveat", cursive !important;
}

/* FEED ALL, PLAY ALL */

.feature {
	background: #XXXXXX !important;
	color: #XXXXXX !important;
	border: 1px solid #XXXXXX !important;
	border-radius: 10px !important;
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: #FFBEA3;
	border: 0 ridge !important;
	border-radius: 10px !important;
    font-family: "Caveat", cursive !important;
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: #FFBEA3;
        border-radius: 10px !important;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: #FFBEA3 !important;
	border: 0 ridge !important;
	border-radius: 10px !important;
	color: #471500 !important;
	box-shadow: none !important;
	text-shadow: none !important;
    font-family: "Caveat", cursive !important;
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: #XXXXXX !important;
	color: #XXXXXX  !important;
	border-radius: 10px !important;
}

.item {
	background: #XXXXXX !important;
	border: 0 ridge !important;
	border-radius: 10px !important;
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #XXXXXX !important
}

div.slider.round::before /* Circle Part */ {
	background: #XXXXXX !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #471500 !important;
        text-shadow: none !important;
}

/* LINK COLOR */

a:link,
a:visited {
	color: #FFCDB8 !important;
        font-family: "Caveat", cursive !important;
}

/* LINK HOVER COLOR */

a:hover {
	color: #471500 !important;
     text-shadow: 1px 0px 8px rgba(XXXXXX);
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* BOXES */

.smallbox {
	float: left;
	background: rgba(XXXXXX);
	color: #XXXXXX;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}

.mediumbox {
	float: left;
	background: rgba(XXXXXX);
	color: #XXXXXX;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}

.largebox {
	float: left;
	background: rgba(XXXXXX);
	color: #XXXXXX;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(XXXXXX);
	color: #XXXXXX;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}

.mediumhoverbox {
	float: left;
	background: rgba(XXXXXX);
	color: #XXXXXX;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(XXXXXX);
	color: #XXXXXX;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #XXXXXX
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #XXXXXX;
	border-radius: 10px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('XXXXXX') !important;
}

 /* all caves image*/
div.cave-grid>img {
	padding-left: 0%;
	height: 140px;	
	width: 260px;
	opacity: 1;
	border: 0px ridge;
	overflow: hidden;
	border-radius: 10px !important;
	transition: 1.5s;
}
div.cave-grid>img:hover{
	filter: brightness(60%);
	overflow: hidden;
	transition: 0.8s !important;
}
/*preg Lions*/
div.cave-grid>img[src$="nestingbanner.png"] {
	content: url('XXXXXX')!important;
}
/* unsorted cave */
div.cave-grid>img[src$="unsortedlionsbanner.png"] {
	content: url('XXXXXX')!important;
}
/* pride overview cave */
div.cave-grid>img[src$="prideoverviewbanner.png"] {
	content: url('XXXXXX')!important;
}
 /* Prized possessions */   
a[href$="481049"]>div.cave-grid>img {
	content: url('XXXXXX') !important
}
/* project primal */
a[href$="492188"]>div.cave-grid>img {
	content: url('XXXXXX') !important
}
div.cave-grid>img[src$="caveunused.jpg"] {
	content: url('XXXXXX')!important;
}
/* da mounds */
.mound-grid img {
	background: url('XXXXXX');
	background-size:cover;
	width: 100%;
	height: 100%;
	padding-top: 70%;
	padding-right: 100%;
	max-height:150px;
	border-radius: 10px !important;
	opacity: 1;
	transition: 1.5s;
}
.mound-grid img:hover{
	filter: brightness(50%);
	transition: 0.8s !important;
}    

img[src$="default.png"] {
content: url("XXXXXX"); 
}
    
/* beetle book adjustment code by tawnyCollar#251887. may be used in commissions, personal CSS, and free CSS. do NOT remove credit, or reupload claiming it as your own. */
/* change beetle book image */
    img[src$="den_ancestors.png"] {
	background:none!important; 
       content:url('XXXXXX')!important;
        transform: scaleX(-1);
}
img[src$="den_ancestorsfem.png"] {
	background:none!important; 
    content:url('XXXXXX')!important;

}
img[src$="den_achievements.png"] {
	background:none!important; 
    content:url('XXXXXX')!important;
    transform: scaleX(-1);
}
img[src$="den_showcase.png"] {
	background:none!important; 
       content:url('XXXXXX')!important;
	
	
}
img[src$="den_beetlebook.png"] {
	background:none!important; 
       content:url('XXXXXX');
    transform: scaleX(-1);
}

/* fits all elements on one line */
body > div.container.main > div > div.col-md-9.col-xs-12 > center {
    flex-wrap: nowrap; 
    justify-content: space-between; 
}
.dynastylist {
    flex: 1 1 auto;
    max-width: 20%; 
    box-sizing: border-box; 
}
/* resizes all images to fit the new layout */
.dynastylist img {
    height: 100%!important;
	 width: 100%!important;
	border-radius: 10px;
}
.dynastylist img:hover{
	filter: brightness(50%);
	transition: 0.8s !important;
}            
/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}


@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
}
}    
	
img[src$="icon-beetle-gold.png"] {
content: url("XXXXXX") !important;
width: 20px !important;
}

img[src$="icon-beetle-silver.png"] {
content: url("XXXXXX") !important;
width: 20px !important;
} 
